header{
    text-align: center;
}
body{
    background-color: #FFC0CB;
}
table{
    line-height: 20px;
    color: #000000;
}
.tentativa{
    text-align: center;
}
.tentativas{
    text-align: center;
}
